<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yoda.member.repository.MemberDAOImpl">
	<resultMap type="member" id="memberResult"/>
	<select id="loginCheck" resultType="String">
		SELECT NAME FROM MEMBER WHERE ID = #{id} AND PWD = #{pwd}
	</select>
	
	<select id="memberInfo" resultType="member">
		SELECT * FROM MEMBER WHERE ID = #{id} AND PWD = #{pwd}
	</select>
</mapper>